[project]
	description = Gerrit SCM plugin for Jenkins CI
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group gerrit-code-review-plugin
	owner = group user/Luca Milanesio (lucamilanesio)
	label-Verified = -1..+1 group jenkinsci-gerrit-code-review-contributors
	label-Verified = -1..+1 group jenkinsci-gerrit-code-review-maintainers
	label-Code-Review = -2..+2 group jenkinsci-gerrit-code-review-maintainers
	label-Code-Review = -1..+1 group jenkinsci-gerrit-code-review-contributors
[access "refs/for/refs/*"]
	read = group user/Luca Milanesio (lucamilanesio)
	push = group Registered Users
	push = group user/Luca Milanesio (lucamilanesio)
	label-Code-Review = -2..+2 group jenkinsci-gerrit-code-review-maintainers
	label-Code-Review = -1..+1 group jenkinsci-gerrit-code-review-contributors
	label-Verified = -1..+1 group jenkinsci-gerrit-code-review-contributors
	label-Verified = -1..+1 group user/Luca Milanesio (lucamilanesio)
	rebase = group jenkinsci-gerrit-code-review-contributors
	rebase = group user/Luca Milanesio (lucamilanesio)
	removeReviewer = group jenkinsci-gerrit-code-review-contributors
	removeReviewer = group user/Luca Milanesio (lucamilanesio)
	submit = group jenkinsci-gerrit-code-review-contributors
	submit = group user/Luca Milanesio (lucamilanesio)
[access "refs/heads/*"]
	read = group user/Luca Milanesio (lucamilanesio)
	create = group user/Luca Milanesio (lucamilanesio)
	push = +force group user/Luca Milanesio (lucamilanesio)
	pushMerge = group user/Luca Milanesio (lucamilanesio)
[access "refs/tags/*"]
	push = group user/Luca Milanesio (lucamilanesio)
	push = +force group user/Luca Milanesio (lucamilanesio)
[receive]
[submit]
	action = fast forward only
