[remote "jenkins-gerritforge-com"]
  url = https://jenkins.gerritforge.com/gerrit-webhook/
  maxTries = 10
  sslVerify = true
  event = change-abandoned
  event = change-deleted
  event = change-restored
  event = patchset-created
  event = ref-updated
  event = topic-changed
  event = wip-state-changed
  event = private-state-changed